<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма 4</title>
    <style>
        body {
            background-color: lavender;
        }
    </style>
</head>
<body>
    <form action="{% url "form4:result" %}">
        Введите год, а я скажу, на какой день недели выпадает День Программиста {{form.year}}
        <button>Посмотреть</button>
    </form>

    {% if res %}
        <div>
            Результат - 13 сентября, {{res}}
        </div>
    {% endif %}
</body>
</html>