<!DOCTYPE html>
{% extends 'main/menu.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Топ лучших книг</title>
    {% block main_section %}
    <style>
        .block {
            width: auto;
            height: 25vh;
            display: flex;
            align-items: center;
            margin: auto;
            }
        
        .top_books {
            font-size: 50px;
            font-family: cursive;
            font-style: italic;
            width: 90vw;
            align-items: center;
            text-align: center;
            margin: auto;
            }

    </style>
    <div class="block">
        <div class="top_books">Топ лучших книг:</div>
    </div>

    <div>
        <ol>
            <li>
                <a class='name'>Старик и море</a>
            </li>
            <li>
                <a class='name'>И восходит солнце</a>
            </li>
            <li>
                <a class='name'>Гамлет</a>
            </li>
        </ol>
    </div>
    {% endblock %}