<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма по добавлению покупателя</title>
</head>
<body>
    <a href="{% url "main:index" %}"><button>Главная</button></a><br>

    <h2>
        Форма по добавлению покупателя
    </h2>

    <form method="post" action="">
        {% csrf_token %}
        Id {{form.customer_id}}<br><br>
        Имя {{form.name}}<br><br>
        Фамилия {{form.last_name}}<br><br>
        Номер телефона {{form.number}}<br><br>
        E-mail {{form.email}}<br><br>
        <button type="submit">Добавить покупателя</button>
    </form>
    
</body>
</html>