<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <a href="{% url "salesman:index" %}">Отобразить информацию о продавцах</a><br>
    <a href="{% url "customer:index" %}">Отобразить информацию о покупателях</a><br>
    <a href="{% url "products:index" %}">Отобразить информацию о товарах</a><br>
    <a href="{% url "sales:index" %}">Отобразить информацию о продажах</a><br>
</body>
</html>