<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма по добавлению товара</title>
</head>
<body>
    <h2>
        Форма по добавлению товара
    </h2>

    <form method="post" action="">
        {% csrf_token %}
        Название {{form.name}}<br><br>
        Описание {{form.description}}<br><br>
        Цена {{form.price}}<br><br>
        Продавец {{form.salesman_id}}<br><br>
        <button type="submit">Добавить товар</button>
    </form>

</body>
</html>