<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма по добавлению товара</title>
</head>
<body>
    <h1>
        Форма по добавлению товара
    </h1>

    <form method="post" action="">
        {% csrf_token %}
        {{form.name}}
        {{form.description}}
        {{form.price}}
        {{form.salesman_id}}
        <button type="submit">Добавить товар</button>
    </form>

</body>
</html>