<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{products.name}}</title>
</head>
<body>
    <div>
        <h2>{{products.name}}</h2>
        <div>
            Описание - {{products.description}},
            Цена - {{products.price}},
            Продавец - {{products.salesman_id}}
        </div>

        <a href="{% url "products:update" products.id %}">Редактировать информацию</a>
        <a href="{% url "products:delete" products.id %}">Удалить информацию</a>
    </div>

</body>
</html>