<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>

    <h1>
        Товары
    </h1>
    {% for product in products %}
    <div>
        {{product.id}}
        {{product.name}}
        {{product.description}}
        {{product.price}}
        {{product.salesman_id}}
    </div>
    {% endfor %}

    <a href="{% url "products:add_product" %}"><button>Добавить товар</button></a>
</body>
</html>