<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>
    <h2>
        Товары
    </h2>
    {% for product in products %}
    <div>
        {{product.id}}.
        Название - {{product.name}},
        Описание - {{product.description}},
        Цена - {{product.price}},
        Продавец - {{product.salesman_id}}.
    </div><br>
    {% endfor %}

    <a href="{% url "products:add_product" %}"><button>Добавить товар</button></a>
</body>
</html>