<!DOCTYPE html>
{% extends 'writers/writers.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shakespeare</title>
    {% block main_section %}
    <style>
        .name {
            font-size: 30px;
            font-family: cursive;
            font-style: italic;
          }

        .description {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 1vw;
        }
    </style>
</head>
<body>

    <div>
        <ul>
            <li>
                <a class='name' href="{% url 'Shakespeare' %}">Уи́льям Шекспи́р</a>
            </li>
        </ul>
    </div>
    <div class="shakespeare">
        <p class="description">Уильям Шекспир (англ. William Shakespeare; 26 апреля 1564 года (крещение),
            Стратфорд-апон-Эйвон, Англия — 23 апреля (3 мая) 1616, там же) — английский поэт и драматург, зачастую
            считается величайшим англоязычным писателем и одним из лучших драматургов мира. Часто именуется национальным
            поэтом Англии. Дошедшие до нас работы, включая некоторые, написанные совместно с другими авторами, состоят
            из 38 пьес, 154 сонетов, 4 поэм и 3 эпитафий. Пьесы Шекспира переведены на все основные языки и ставятся
            чаще, чем произведения других драматургов.</p>
    </div>
    {% endblock %}

</body>
</html>