<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday</title>
</head>
<body>
    <div>
        <div>
            <a href="{% url "cars" %}">Задание 1. Машины</a>
        </div>
        <div>
            <a href="{% url "weekday" %}">Задание 2. День недели</a>
        </div>
        <div>
            <a href="{% url "headphones" %}">Задание 3. Наушники</a>
        </div>
        <div>
            <a>Задание 4 - в предыдущем ДЗ</a>
        </div>
    </div>
</body>
</html>