<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупатели</title>
</head>

<body>
    <a href="{% url "main:index" %}"><button>Главная</button></a><br>
    <h2>
        Покупатели
    </h2>

    <table border="1">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
            <th>E-mail</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.last_name}}</td>
                    <td>{{customer.number}}</td>
                    <td>{{customer.email}}</td>
                    <td>
                        <a href="{% url 'customer:detail' customer.id %}">Подробнее...</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table><br>

    <a href="{% url "customer:create" %}"><button>Добавить покупателя</button></a>
</body>
</html>