{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма 1</title>
    <link rel="stylesheet" href="{% static 'source/css/style1.css' %}">
</head>
<body>
    <div>
        <h4>
            Логины и пароли для входа в сайт:
        </h4>
        <h4>Для пользователя:</h4>
        Логин - {{user_login}}<br>
        Пароль - {{user_password}}
        <h4>Для админа:</h4>
        Логин - {{admin_login}}<br>
        Пароль - {{admin_password}}
    </div>
    <form action="{% url "form1:result" %}">
        <h3>Вход:</h3>
        <label for="login">Логин</label>
        {{form.login}}
        <label for="password">Пароль</label>
        {{form.password}}
        <button>Войти</button>
    </form>
</body>
</html>