<!DOCTYPE html>
{% extends 'main/menu.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block main_section %}

    <style>
        .name {
            font-size: 30px;
            font-family: cursive;
            font-style: italic;
          }

        .description {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 1vw;
        }
    </style>

</head>
<body>
    <div>
        <ul>
            <li>
                <div class="name">{{name}}</div>
            </li>
        </ul>
    </div>
    <div>
        <p class="description">
            {{description}}
        </p>
    </div>
</body>
</html>
    {% endblock %}
