<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
</head>
<body>
    <h1>
        Форма по добавлению продавца
    </h1>

    <form method="post" action="">
        {% csrf_token %}
        {{form.name}}
        {{form.last_name}}
        {{form.number}}
        {{form.email}}
        {% comment %} {{form.hiring_date}}
        {{form.position}} {% endcomment %}
        <span>{{error}}</span>
        <button type="submit">Добавить продавца</button>
    </form>

</body>
</html>