<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продавцы</title>
</head>
<body>
    <h2>
        Продавцы
    </h2>

    {% for salesman in salesmen %}
    <div>
        {{salesman.id}}.
        Имя - {{salesman.name}},
        Фамилия - {{salesman.last_name}},
        Номер телефона - {{salesman.number}},
        E-mail - {{salesman.email}}.
    </div><br>
    {% endfor %}

    <a href="{% url "salesman:add_salesman" %}"><button>Добавить продавца</button></a>
</body>
</html>