{% load static %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'source/css/style.css' %}">
    <title>Create</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <label for="name">Название</label>
        {{form.name}}
        <label for="cuisine">Кухня</label>
        {{form.cuisine}}
        <label for="address">Адрес</label>
        {{form.address}}
        <label for="web_site">Веб-сайт</label>
        {{form.web_site}}
        <label for="contacts">Номер телефона</label>
        {{form.contacts}}

        <button>Добавить</button>
    </form>
</body>
</html>