<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{customer.name}}</title>
</head>
<body>
    <div>
        <h2>{{customer.name}} {{customer.last_name}}</h2>
        <div>
            Номер телефона - {{customer.number}},
            E-mail - {{customer.email}}.
        </div>

        <a href="{% url "customer:update" customer.id %}">Редактировать информацию</a>
        <a href="{% url "customer:delete" customer.id %}">Удалить информацию</a>
    </div>

</body>
</html>