<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупатели</title>
</head>
<body>
    <h2>
        Покупатели
    </h2>

    {% for customer in customers %}
    <div>
        {{customer.id}}.
        Имя - {{customer.name}},
        Фамилия - {{customer.last_name}},
        Номер телефона - {{customer.number}},
        E-mail - {{customer.email}}.
    </div><br>
    {% endfor %}

    <a href="{% url "customer:add_customer" %}"><button>Добавить покупателя</button></a>
</body>
</html>