<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продажа</title>
</head>
<body>
    <h2>
        Продажа
    </h2>

    <form method="post" action="">
        {% csrf_token %}
        Выберите покупателя {{form.customer_id}}<br><br>
        Выберите продавца {{form.salesman_id}}<br><br>
        Товары:<br>
        {% if products %}:
            {% for product in products %}
                <div>{{product.name}}</div>
            {% endfor %}
        {% endif %}
        <a href="">Перейти к каталогу</a>
    </form>

</body>
</html>