{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма 2</title>
    <link rel="stylesheet" href="{% static 'source/css/style2.css' %}">
</head>
<body>
    <div class="block">
        <div class="block2">
            <form action="{% url 'form2:result' %}">
                <div class="block3">
                    <div class="piece">
                        <div class="piece2">
                            <label for="input1">Первое число:</label>
                        </div>
                        <div class="piece2">
                            {{form.number_1}}
                        </div>
                    </div>
                    <div class="piece">
                        <div class="piece2">
                            <label for="input2">Второе число:</label>
                        </div>
                        <div class="piece2">
                            {{form.number_2}}
                        </div>
                    </div>

                    <div class="piece">
                        <div class="piece2">
                            <label for="input3">Третье число:</label>
                        </div>
                        <div class="piece2">
                            {{form.number_3}}
                        </div>
                    </div>
                </div>

                <div class="block4">
                    {{form.choice}}
                </div>
                <button>Посчитать</button>
            </form>
            <div class="result">
                {% if res %}
                <span> Результат: {{ res }} </span>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>