{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма 3</title>
    <link rel="stylesheet" href="{% static "source/css/style3.css" %}">
</head>
<body>
    <form action="{% url "form3:result" %}">
        <h3>Заполните данные</h3>
        <label for="name">Имя</label>
        {{form.name}}<br>
        <label for="surname">Фамилия</label>
        {{form.surname}}<br>
        <label for="age">Возраст</label>
        {{form.age}}<br>
        <label for="email">E-mail</label>
        {{form.email}}<br>
        <label for="gender">Пол</label>
        {{form.gender}}<br>
        <label for="address">Адрес</label>
        {{form.address}}<br>
        <label for="agreement">Подписаться на новости?</label>
        {{form.agreement}}<br>
        <button>Submit</button>
    </form>
</body>
</html>