{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма 3</title>
    <link rel="stylesheet" href="{% static "source/css/style3.1.css" %}">
</head>
<body>
    <div class="block">
        <h3>Ваши данные:</h3>
        <div>
            Имя: {{name}}
        </div>
        <div>
            Фамилия: {{surname}}
        </div>
        <div>
            Возраст: {{age}}
        </div>
        <div>
            E-mail: {{email}}
        </div>
        <div>
            Пол: {{gender}}
        </div>
        <div>
            Адрес: {{address}}
        </div>
        {% if agreement %}
            <div>
                Вы подписались на новости
            </div>
        {% endif %}
    </div>
</body>
</html>